<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SignInAction</servlet-name>
        <servlet-class>SignInAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FortNight</servlet-name>
        <servlet-class>FortNight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FortNight2</servlet-name>
        <servlet-class>FortNight2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hodcomment</servlet-name>
        <servlet-class>Hodcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dgcomment</servlet-name>
        <servlet-class>Dgcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeanComment</servlet-name>
        <servlet-class>Deancomment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInAction</servlet-name>
        <url-pattern>/SignInAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FortNight</servlet-name>
        <url-pattern>/FortNight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FortNight2</servlet-name>
        <url-pattern>/FortNight2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hodcomment</servlet-name>
        <url-pattern>/Hodcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dgcomment</servlet-name>
        <url-pattern>/Dgcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeanComment</servlet-name>
        <url-pattern>/DeanComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
